{
  "presets": [
    [
      "@vue/cli-plugin-babel/preset",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "comments": false
}