{
  "presets": [
    [
      "@vue/cli-plugin-babel/preset",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module:@import-meta-env/babel",
      {
        "example": "import.meta.env.VERSION"
      }
    ]
  ],
  "comments": false
}